/* body */
body {
    background: #4B362B;
    color: #ECECEC;
}

/* nav bar */
nav {
    background: #382C1E;
}

.logo .menu-icon {
    color: #ECECEC;
}

.logo .logo-name {
    color: #ECECEC;
}

nav .sidebar {
    background-color: #382C1E;
}

.lists .nav-link:hover {
    background-color: #382C1E;
}

.nav-link .icon {
    color: #ECECEC;
}

.nav-link .link {
    color: #ECECEC;
}

.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
    color: #ECECEC;
}

/* index */
.function_div p {
    color: #ECECEC;
}

.function-item {
    background-color: #382C1E;
    color: #ECECEC;
}

.footer_div p {
    color: lightgray;
}

/* analysis_page */
.start_button {
    color: #13293D;
    background-color: #f2f2f29c;
}

.end_button {
    color: #13293D;
    background-color: #ECECEC;
}

/* recommendation_page*/
.custom-dropdown select {
    background-color: #13293D;;
    color: #ECECEC;
}

