/* body */
body {
    background: #D9BFA7;
}

/* nav bar */
nav {
    background: #ECECEC;
}

.logo .menu-icon {
    color: #333;
}

.logo .logo-name {
    color: #333;
}

nav .sidebar {
    background-color: #ECECEC;
}

.lists .nav-link:hover {
    background-color: #D9BFA7;;
}

.nav-link .icon {
    color: #707070;
}

.nav-link .link {
    color: #707070;
}

.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #ECECEC;
}

/* index */
.function_div p{
    color: black;
}

.function-item {
    background-color: #ECECEC;
}

.footer_div p {
    color: darkgray;
}
